<% action = (type == :newuser) ? users_url : session_url %>
<% button_text = (type == :newuser) ? "Sign Up" : "Sign In" %>
<% header = (type == :newuser) ? "Sign Up" : "Sign In" %>

<header class="auth">
    <h1 class="home-page">speechgenius</h1>
</header>
<header class="header-2">
  <%= link_to "Sign Up Here", new_user_url, {class: "new-speech"}%>
  <%= link_to "All Speeches", root_url, {class: "new-speech"}%>
  <%= link_to "Log In Here", new_session_url,{class: "new-speech"} %>
</header>

<div class="auth-form">
  <h2><%= header %></h2>
  <form action="<%= action %>" method="POST">
    <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
    <label>Email
    </label><br>
    <input type="text" value="<%= @user.email %>" name="user[email]">
    <br>

    <label>Password
    </label><br>
    <input type="password" value="<%= @user.password %>" name="user[password]">
    <br>

    <input type="submit" class="submit" value="<%= button_text %>">
  </form>

  <form action=" <%= session_url %>" method="POST">
    <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">

    <input type="hidden" value="guest@example.com" name="user[email]">

    <input type="hidden" value="guestpassword" name="user[password]">
    <input type="submit" class="guest-submit" value="Guest Login!">
  </form>
</div>

<% if flash[:errors] && !current_user %>
  <div class="errors">
    <% flash[:errors].each do |msg| %>
      <p><b><%= msg %></b></p>
    <% end %>
  </div>
<% end %>

<h3 class="welcome"><%= "#{header} to Start Annotating!" %></h3>

<script>
  $(".home-page").on("click", function (e) {
    e.preventDefault();
    document.location = "/";
  })
</script>
