<!DOCTYPE html>
<html>
<head>
  <title>SpeechGenius</title>
  <meta name='description' content='A site for annotating speeches - check out all your favorite speeches here!'>
  <meta name="author" content="Shiv Parikh">
  <meta name='viewport' content='user-scalable=no width=device-width, initial-scale=1.0 maximum-scale=1.0'>
  <%= favicon_link_tag %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <link href='https://fonts.googleapis.com/css?family=Fira+Sans:400,500' rel='stylesheet' type='text/css'>
  <%= csrf_meta_tags %>
</head>


  <body>
    <% if current_user %>
      <script>
        window.CURRENT_USER_ID = <%= current_user.id %>
      </script>
    <% else %>
      <header class="auth">
          <h1 class="home-page">speechgenius</h1>
      </header>
      <header class="header-2">
        <%= link_to "Sign Up Here", new_user_url, {class: "new-speech"}%>
        <%= link_to "Log In Here", new_session_url,{class: "new-speech"} %>
      </header>
    <% end %>


  <%= yield %>


  <% if flash[:errors] && !current_user %>
    <div class="errors">
      <% flash[:errors].each do |msg| %>
        <p><b><%= msg %></b></p>
      <% end %>
    </div>
  <% end %>

  <% unless current_user %>
    <h3 class="welcome">Check out all your favorite speeches here!</h3>
  <% end %>

  <!-- scripts -->
  <script type="text/javascript" src="//api.filepicker.io/v2/filepicker.js"></script>
  </body>

</html>
