<!DOCTYPE html>
<html>
<head>
  <title>SpeechGenius</title>
  <meta name='description' content='A site for annotating speeches - check out all your favorite speeches here!'>
  <meta name="author" content="Shiv Parikh">
  <meta name='viewport' content='user-scalable=no width=device-width, initial-scale=1.0 maximum-scale=1.0'>
  <%= favicon_link_tag %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <link href='https://fonts.googleapis.com/css?family=Fira+Sans:400,500' rel='stylesheet' type='text/css'>
  <%= csrf_meta_tags %>
</head>

  <body>

  <%= yield %>

  <!-- scripts -->
  <script type="text/javascript" src="//api.filepicker.io/v2/filepicker.js"></script>
  </body>

</html>
